/* Trying to mix&match similar fonts, tried to define font for priority menu but its not a supported feature for selection drop-down menus. NOTE TO SELF-Try to implement */
body {
  font-family: "Dosis", sans-serif;
  font-size: 2em;
  background-color: peru;
  background-image: url(./assets/—Pngtree—paper\ clip\ decorative\ yellow\ note_4615562.png);
  background-size: 110vh;
  background-position-x: center;
  background-repeat: no-repeat;
}
button {
  font-family: inherit;
  font-size: 0.5em;
}
li {
  list-style-type: none;
}
#title {
  font-size: 8.4vh;
  position: relative;
  padding-top: 8.8vh;
  padding-left: 15vw;
}
#control {
  text-align: center;
}
#counter-section {
  position: relative;
  font-size: 5vh;
  right: 4vw;
}
#sort-button {
  position: absolute;
  background-color: inherit;
  border: none;
  font-weight: 800;
  right: -40%;
  bottom: 20%;
  font-size: 3vh;
}
#add-button {
  position: absolute;
  background-color: inherit;
  border: none;
  font-weight: 800;
  font-size: 3vh;
  height: 100%;
  right: 20%;
}
#text-input {
  size: 1;
  position: absolute;
  height: 86%;
  background-color: inherit;
  border: 5%, solid, black;
  font-family: inherit;
  width: 20%;
  /* overflow-wrap: break-word; HOW DO YOU WRAP THE TEXT INPUT */
}
#priority-selector {
  position: absolute;
  height: 100%;
  left: 30%;
}
#add-section {
  position: relative;
  height: 5vh;
  top: 1.5vh;
}
#view {
  text-align: center;
  font-family: "Nunito", sans-serif;
  position: relative;
  left: 7vw;
  font-size: 0.6em;
  font-weight: 500;
  top: 3.4vh;
}

#delete-button {
  position: relative;
  bottom: 2vh;
  background-color: inherit;
  height: 2.7vh;
}

.todo-priority {
  position: relative;
  display: inline-block;
  padding-right: 1em;
  bottom: 3vh;
  right: 7vh;
}
.todo-text {
  position: relative;
  display: inline-block;
  bottom: 2.5vh;
  right: 9vw;
}
.todo-created-at {
  display: inline-block;
  position: relative;
  padding-right: 1em;
  font-size: 2.5vh;
  bottom: 1vh;
  right: 8vw;
}
