/* Trying to mix&match similar fonts, tried to define font for priority menu but its not a supported feature for selection drop-down menus. NOTE TO SELF-Try to implement */
body {
  font-family: "Dosis", sans-serif;
  font-size: 2em;
}
button {
  font-family: inherit;
  font-size: 0.5em;
}
#view {
  font-family: "Nunito", sans-serif;
  font-size: 0.5em;
}
/*divisions form one, complete task inline*/
div {
  display: inline;
}
.todo-priority {
  padding-right: 1em;
}
.todo-created-at {
  padding-right: 1em;
}
.todo-text {
  padding-right: 1em;
}
