/* Trying to mix&match similar fonts, tried to define font for priority menu but its not a supported feature for selection drop-down menus. NOTE TO SELF-Try to implement */
body {
  font-family: "Dosis", sans-serif;
  font-size: 2em;
  background-color: peru;
  background-image: url(./assets/—Pngtree—paper\ clip\ decorative\ yellow\ note_4615562.png);
  background-size: 110vh;
  background-position-x: center;
  background-repeat: no-repeat;
}
button {
  font-family: inherit;
  font-size: 0.5em;
}
li {
  list-style-type: none;
}
/*divisions form one, complete task inline*/

.todo-priority {
  display: inline;
  padding-right: 1em;
}
.todo-text {
  display: inline;
  padding-right: 1em;
}
.todo-created-at {
  display: inline;
  padding-right: 1em;
}
#counter-section {
  font-size: 5vh;
  position: relative;
  bottom: 6vh;
  right: 6vw;
}
#sort-button {
  position: relative;
  bottom: 13.7vh;
  left: 23vh;
}
#delete-button {
  background-color: inherit;
  height: 2.7vh;
}
#title {
  font-size: 8.4vh;
  position: relative;
  padding-top: 8.8vh;
  padding-left: 15vw;
}
#control {
  text-align: center;
}
#view {
  font-family: "Nunito", sans-serif;
  font-size: 0.6em;
  text-align: center;
  font-weight: 500;
}
#text-input {
  background-color: inherit;
  border: #facd89;
  font-family: inherit;
}
