/* Trying to mix&match similar fonts, tried to define font for priority menu but its not a supported feature for selection drop-down menus. NOTE TO SELF-Try to implement */

body {
  font-family: "Dosis", sans-serif;
  font-size: 2em;
  background-color: peru;
  background-image: url(./assets/—Pngtree—paper\ clip\ decorative\ yellow\ note_4615562.png);
  background-size: 110vh;
  background-position-x: center;
  background-repeat: no-repeat;
}
button {
  font-family: inherit;
  font-size: 0.5em;
}
li {
  list-style-type: none;
}
#title {
  font-size: 8vh;
  position: relative;
  padding-left: 15vw;
}
#control {
  text-align: center;
}

#counter-section {
  position: relative;
  font-size: 4.5vh;
}
#sort-button {
  position: absolute;
  background-color: inherit;
  border: none;
  font-weight: 800;
  left: 100%;
  bottom: 17%;
  font-size: 3vh;
}
#add-button {
  position: absolute;
  background-color: inherit;
  border: none;
  font-weight: 800;
  font-size: 3vh;
  height: 100%;
  left: 65%;
}
#text-input {
  size: 1;
  position: absolute;
  height: 86%;
  background-color: inherit;
  border: 5%, solid, black;
  font-family: inherit;
  font-size: 1em;
  right: 36%;
  width: 20%;
  /* overflow-wrap: break-word; HOW DO YOU WRAP THE TEXT INPUT */
}
#priority-selector {
  position: absolute;
  height: 80%;
  right: 60%;
}
#add-section {
  position: relative;
  height: 5vh;
  top: 1.6vh;
}
#view {
  text-align: center;
  font-family: "Nunito", sans-serif;
  position: relative;
  left: 7vw;
  font-size: 0.6em;
  font-weight: 500;
  top: 1.5vh;
}

#delete-button {
  position: relative;
  bottom: 2vh;
  background-color: inherit;
  height: 2.7vh;
}
#spinner {
  /* visibility: hidden; */
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
  z-index: 1000;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #spinner.show {
  visibility: visible;
} */
.todo-priority {
  position: relative;
  display: inline-block;
  right: 10vw;
  bottom: 3vh;
}
.todo-text {
  position: relative;
  display: inline-block;
  bottom: 2.5vh;
  right: 9vw;
}
.todo-created-at {
  display: inline-block;
  position: relative;
  padding-right: 1em;
  font-size: 2.5vh;
  bottom: 1vh;
  right: 8vw;
}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  color: paleturquoise;
}
.fa-linkedin {
  color: #007bb5;
  border-radius: 60%;
  font-size: 0.5vh;
}
.fa-github {
  color: black;
}
.fa {
  font-size: 2vh;
  width: 6vw;
  text-align: center;
  text-decoration: none;
}
#links {
  position: relative;
  max-width: fit-content;
  margin: auto;
}
