h1 {
  font-size: 3em;
  text-align: center;
  color: white;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
    0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}
body {
  background-image: url(./assets/corkboard2.png);
  background-repeat: repeat;
  font-family: "Dosis", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  background-image: url(./assets/grey-paper-texture.png);
  padding: 2%;
  width: 50%;
}
#view {
  font-family: "Nunito";
}
#control {
  padding-bottom: 2%;
}
#delete-button {
  background-color: inherit;
  height: 2.7vh;
}
#add-section {
  display: flex;
  justify-content: space-around;
}
.todo-container {
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
  border-top: 1px solid rgba(97, 181, 236, 0.993);
  padding: 1%;
  color: rgb(79, 17, 223);
  font-weight: 500;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
button {
  font-family: inherit;
}
.todo-priority {
  width: 5%;
}
.todo-text {
  width: 60%;
}
.todo-created-at {
  width: 30%;
}
#text-input {
  flex-grow: 2;
  margin-right: 1%;
  border-radius: 10px;
  border: 1px blue solid;
}

select {
  margin-right: 1%;
}
button {
  all: unset;
  margin-right: 1%;
  border: 2px solid blue;
  padding: 1%;
  border-radius: 20%;
  color: blue;
  font-weight: 800;
}
@media screen and (max-width: 1000px) {
  #main {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  #main {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  #main {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  #main {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  #main {
    width: 100%;
    font-size: 16px;
  }
  #counter-section {
    font-size: 0;
  }
}
#add-button {
  cursor: pointer;
}
#add-button:hover {
  transform: scale(1.1);
}
#sort-button:hover {
  transform: scale(1.1);
}
#add-button {
  cursor: pointer;
}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  color: paleturquoise;
}
.fa-linkedin {
  color: #007bb5;
  border-radius: 60%;
  font-size: 0.5vh;
}
.fa-github {
  color: black;
}
.fa {
  font-size: 50px;
  width: 15vw;
  text-align: center;
  text-decoration: none;
}
#links {
  position: relative;
  max-width: fit-content;
  margin: auto;
}

#spinner {
  /* visibility: hidden; */
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
  z-index: 1000;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #spinner.show {
  visibility: visible;
} */
